@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  /* background-color: #1c2769; */
  color: black;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #171717;
}
/* Custom scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.connect{
  padding: 30px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Change to desired color */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Change to desired color */
}